<div class="col-lg-8">
    <br/><hr>
    <div class="well">
        <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
        <form role="form" action="{% url 'articles:leave_comment' article.section article.slug %}" method='POST'>
            <div class="form-group">
                {% csrf_token %}
                {{ comment_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
        </form>
    </div><hr>

    <div class="well">
        {% if last_comments %}
        {% for comment in last_comments %}
        <h3><i class="fa fa-comment"></i> {{ comment.author }}
            <small>{{ comment.comment_date }}</small>
        </h3>
        <p>{{ comment.comment_text }}</p>
        {% endfor %}
        {% else %}
        <p> Comments not found </p>
        {% endif%}
    </div>
</div>



