{% extends "layer.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/css/post_list.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'posts/css/pagination.css' %}" />
<script src="https://kit.fontawesome.com/fe539a9d82.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
{% endblock %}

{% block content %}
<article>
    <h1>Разделы</h1>
    {% if section_list %}
        <ul>
        {% for section in section_list %}
            <li><a href="{{ section.get_absolute_url }}">{{ section.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</article>


<div class="container">
    <div class="row infinite-container">
        <div class="col-md-9 infinite-item">
            {% include 'posts/include/article_list_layout.html'%}
            {% include 'posts/include/pagination_v2.html' %}
        </div>
        {% if user.is_staff %}

        {% endif%}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'posts/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'posts/js/infinite.min.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {
    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
        $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
        $('.spinner-border').hide();
    }

    });

    </script>
{% endblock %}
