{% extends 'layer.html' %}
{% load static %}
{% block title %} {{ article.title }} {% endblock%}
<!-- https://bootsnipp.com/snippets/kMmOW -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1><a href="">{{ article.title }}</a></h1>
            <p class="lead"><i class="fa fa-user"></i> by <a href="">{{ article.author}}</a></p>
            <hr>
            <p><i class="fa fa-calendar"></i> Posted on {{ article.timestamp }}</p>
            {% if article.was_published_recently %}
                <p class="lead">NEW ARTICLE</p>
            {% endif%}
            <p><i class="fa fa-tags"></i> Tags:
                <a href=""><span class="badge badge-info">Bootstrap</span></a>
                <a href=""><span class="badge badge-info">Web</span></a>
                <a href=""><span class="badge badge-info">CSS</span></a>
                <a href=""><span class="badge badge-info">HTML</span></a>
            </p>
            <hr>
            <img src="http://placehold.it/900x300" class="img-responsive">
            <hr>
            <p class="lead">Welcome to Bootstrap Blog Template! This is a blog template example, built with Bootstrap. Contains "tools" that would be needed in a post.</p>
            <div class="post__description post__item">
                <p>  {{ article.content_full | safe}}</p>
            </div>
        </div>
        {% include 'posts/leave_comment.html' %}

    </div>
</div>


{% endblock %}
